body{
    background: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.music-player{
    background: #1e1e1e;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 320px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.album-art{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #a259ff;
    margin-bottom: 15px;
}
.progress .volume{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}
input[type="range"]{
    flex: 1;
    margin: 0 10px;
    accent-color: #a259ff;
}
.control button{
    background: #a259ff;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    font-size: 16PX;
    cursor: pointer;
}
.control .play{
    font-size: 20px;
}